body {
  margin: 32px;
}

form, .results {
  border-radius: 8px;
  padding: 32px;
  margin: 48px;
}

h1 {
  margin-bottom: 32px !important;
  text-align: center;
}

label { 
  margin: 0px 8px;
}

.btn {
  margin: 16px 0px;
  width: 100%;
}

.container-main {
  margin: 64px;
  display: flex;
  justify-content: space-evenly;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

li {
  list-style-type: none;
  margin: 8px 0px;
}

input {
  margin: 16px;
}

.btn-container { 
  height: auto;
  display: flex;
  align-items: center;
}